<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IForumWcfService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:61621/ForumWcfService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IForumWcfService"
          contract="ForumWcfService.IForumWcfService" name="BasicHttpBinding_IForumWcfService" />
    </client>
  </system.serviceModel>
</configuration>